{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "fd"
brew "git"
brew "opentofu"
brew "ripgrep"
brew "rustup"
brew "starship"
cask "cyberduck"
cask "firefox"
cask "google-chrome"
cask "postman"
cask "visual-studio-code"
cask "vlc"
vscode "github.codespaces"
vscode "github.copilot"
vscode "github.copilot-chat"
vscode "github.copilot-workspace"
vscode "hashicorp.terraform"
vscode "rust-lang.rust-analyzer"
vscode "svelte.svelte-vscode"
vscode "tamasfe.even-better-toml"
EOF
{{ end -}}
